/*
Taxonomy manager doesn't handle fieldsets inside the taxonomy data
fieldset well.

We are adding a some better margins for the fieldset we add.
*/
#taxonomy-term-data .vocabulary-queue fieldset {
  margin-top: 0.5em;
  padding-top: 2.5em;
}
